.searchInput{
    border: 0px;
    border-radius: 15px 0px 0px 15px;
    background-color: #e0e0e0;
    height: 40px; 
    margin: 5px 0px 0px 0px;
    font-family:Arial, Helvetica, sans-serif ;
}

.searchButton{
    border: 0px;
    border-radius:0px 15px 15px 0px;
    background-color: #e0e0e0;
    height: 40px;
   
}
.bar{
    position: relative;
    left: 2.5rem;
}